<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new Employee</title>
</head>
<body>

    <form th:action="@{/hr/emp/add}" method="post" th:object="${emp}">
        First name<br>
        <input type="text" name="firstName">
        <br>
        Last Name<br>
        <input type="text" name="lastName">
        <br>
        Date of birth<br>
        <input type="date" name="birthDate">
        <br>
        Position<br>
        <select name="position">
            <option th:each="pos : ${positions}"
                    th:value="${pos.id}"
                    th:text="${pos.name + '(salary: ' + pos.salary + ')'}"></option>
        </select><a th:href="@{/hr/pos/add}">Missing a position? Add a new one</a>
        <br>
        Salary bonus<br>
        <input type="number" name="bonus">
        <br>
        Hire date<br>
        <input type="date" name="hireDate">
        <br>
        Activated<br>
        <input type="checkbox" name="isActive">
        <input type="submit" value="addEmp"/>
    </form>

</body>
</html>