<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new Position</title>
</head>
<body>

    <form th:action="@{/hr/pos/add}" method="post" th:object="${pos}">
        Position name<br>
        <input type="text" name="name">
        <br>
        Description<br>
        <input type="text" name="description">
        <br>
        Salary<br>
        <input type="text" name="salary">
        <br>
        <input type="submit" value="addPos"/>
    </form>

</body>
</html>