<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Position information</title>
</head>
<body>

    <form th:action="@{/hr/pos/edit}" th:method="update" th:object="${pos}">
        Position name<br>
        <input type="text" name="name" th:value="${pos.name}">
        <br>
        Description<br>
        <input type="text" name="description" th:value="${pos.description}">
        <br>
        Salary<br>
        <input type="text" name="salary" th:value="${pos.salary}">
        <br>
    </form>

</body>
</html>