<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chem Process</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <h1>Register</h1>

    <div th:if="${(param.error != null) and (param.error[0] == 'user')}">
        Username already exists, pleases choose another one
    </div>
    <div th:if="${(param.error != null) and (param.error[0] == 'pass')}">
        Passwords do not match, please try again
    </div>

    <form method="POST" th:action="@{/register}" id="registerForm" th:object="${form}">
        <label for="username">Username: </label>
        <input type="text" name="username" th:field="*{username}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">Username Error</span>
        <br/>

        <label for="password">Password: </label>
        <input type="password" name="password"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">Password Error</span>
        <br/>

        <label for="confirm">Confirm password: </label>
        <input type="password" name="confirm"/><br/>

        <label for="fullname">Full name: </label>
        <input type="text" name="fullname" th:field="*{fullname}"/><br/>

        <input type="submit" value="Register"/>
    </form>
</body>
</html>
